{% layout 'default' %}


{% block %}

{% include 'small-nav' %}

<h1 class="display-4" align="center">SpaceORB</h1>
<br />

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<p class="lead">Welcome to the Space Opportunities and Resources Bulletin!</p>
		<p>Here we will be collecting a list of scolarships, co-ops, new graduate positions, research opportunites, and other unique opportunities to help students break into the Canadian space sector.</p>
	</div>
	<div class="col-md-3"></div>
</div>

{% for opportunity in ops%}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8" align="center">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">{{opportunity.title}}</h4>
				<h6 class="card-subtitle mb-2 text-muted">Deadline: {{opportunity.deadline}}</h6>
				<div style="display: inline;">	
					<p class="card-text float-left">Who: {{opportunity.who}}</p>
					<p class="card-text float-right">Type: {{opportunity.type}}</p>
				</div>
				<p class="card-text">{{opportunity.description}}</p>
				<a href="{{opportunity.link}}" class="card-link text-danger">{{opportunity.link}}</a>
			</div>
		</div>
	</div>
</div>
<br />
{% endfor %}

{% endblock %}